@charset "utf-8";

section {
    scroll-snap-align: start;
    border-bottom: solid black 2px;
}

body{
    margin: 0;
    background-color: #1b1e21;
}

a {
    color: whitesmoke;
    text-decoration: none;
    font-family: "Open Sans SemiBold";
}

a:hover {
    transition: all 0.3s linear;
    color: dodgerblue;
}

.navigation-bar {
    list-style-type: none;
    background-color: #333;
    <!--position: fixed;-->
    top: 0;
    left: 0;
    z-index: 1;
    <!--height: 40px;-->
    display: inline;
    margin: 0;
    padding-bottom: 15px;
    padding-top: 8px;;
}

li {
    display: inline;
    font-size: 20px;
    margin-left: 10px;
    padding-right: 30px;
}

#navbar-right {
    display: inline;
    min-width: 100vh;
}

#navbar-left {
    display: inline;
}

.flag-icon{
    height: 18px;
}

.language-options-container{
    background-color: #23282a;
    display: none;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding: 5px;
}

#active-language:hover .language-options-container {
    display: block;
}

#active-language{
    background-color: royalblue;
    border-radius: 5px;
}

.language-option{
    padding: 5px;
    text-align: left;
    cursor: pointer;
    border-radius: 5px;
}
.language-option:hover{
    background-color: green;
}