################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/magmaguy.com/FileContentIndex/92b72f48-90ba-4ad1-8e6f-f68912438ea3.vsidx
/.vs/magmaguy.com/v17/.wsuo
